*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: hsl(0, 0%, 100%);
    position: relative;
}

header{
    display: flex;
    width: 90vw;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 5rem;
    border-bottom: 1px solid hsl(220, 14%, 75%)
}

.header-leftside{
    display: flex;
    width: 50rem;
    padding: 2rem;
    /* border: 1px solid black; */
    font-size: 1rem;
}

nav{
    margin-left: 2rem;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0rem 1rem;
}

nav a{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}


.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 8rem;
}

.user-avatar{
    width: 4rem;
    border: 2px solid transparent;
    margin-left: 3rem;

}

.user-avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
    cursor: pointer;
}


/* main section */

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 40rem;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.product-images{
    width: 50rem;
    height: 40rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.carousel{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    position: relative;
}

.large-image-gallery{
    display: flex;
    transition: transform 400ms ease-in-out;
}


.images{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.small-image-gallery{
    width: 30rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.thumbnail{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem; 
}

.when-get-clicked{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.8;
}

.thumbnail:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* product - description */

.product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30rem;
    height: 30rem;
    /* border: 1px solid black; */
}

h4{
    color : hsl(26, 100%, 55%);
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    
}

h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.description-para{
    line-height: 2rem;
    color:hsl(219, 9%, 45%);
    margin-bottom: 0.5rem;
}

.sell{
    display: flex;
    width: 11rem;
    align-items: center;
    justify-content: space-between;
}

.sale-price{
    font-size: 2rem;
    font-weight: 700;
}

.percentage{
    width: 3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: hsl(25, 100%, 94%); 
    color: hsl(26, 100%, 55%);   
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.previous-price{
   color : hsl(220, 14%, 75%);
   text-decoration: line-through;
}

.select-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.select-items p {
    font-weight: 700;
}

.item-add-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    /* border: 1px solid black; */
    background-color:  hsl(233, 60%, 97%);
    border-radius: 0.5rem;
}

.item-add-div button{
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.item-add-div button:hover{
    opacity: 0.5;
}

.add-items{
    width: 18rem;
    padding: 1.2rem;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    display: inline-flex;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 3px 15px hsl(25, 94%, 58%);
}

.add-items:hover{
    opacity: 0.5;
}

.add-items p {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 1rem;
}

footer{
    width: 100vw;
    text-align: center;
    margin-top: 3rem;
}

footer a{
    color: hsl(26, 100%, 55%);;
}

/* pop up lightbox - gallery */


.lightbox-product-images{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: hsl(0, 0%, 0% , 0.75);
    visibility: hidden;
    z-index: -1;
}

.visible-lightbox-product-images{
    visibility: visible;
}

.lightbox-gallery{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    overflow: hidden;
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.lightbox-large-image-gallery{
    display: flex;
    transition: transform 400ms ease-in-out;
}


.lightbox-images{
    width: 35rem;
    height: 35rem;
    object-fit: cover;
}

.lightbox-small-image-gallery{
    width: 35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lightbox-thumbnail{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem; 
}

.when-get-clicked{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.8;
}

.lightbox-thumbnail:hover{
    opacity: 0.5;
    cursor: pointer;
}

#previous , #next{
    position: absolute;  
    background-color: aliceblue;
    padding: 1.2rem 1.4rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999;
}

#previous{
    top: 40%;
    left: 34%;
}

#previous:hover{
    fill: hsl(26, 100%, 55%);

}

#next{
    top: 40%;
    right: 34%;
}

#close{
    position: absolute;
    top: 8%;
    right: 36%;
    width: 1.5rem;
    cursor: pointer;
}

/* show-item-count */

.cart{
    cursor: pointer;
}

.show-item-count{
    position: absolute;
    top: 3.7rem;
    right: 21.3rem;
    padding: 0rem 0.4rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 700;
    background-color: hsl(26, 100%, 55%);
}

.cart-box{
    width: 22rem;
    height: 15rem;
    overflow-y: scroll;
    position: absolute;
    top: 8rem;
    right: 15rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 3px 25px 5px hsl(217, 15%, 90%);
    visibility: hidden;
}

.show-cart-box{
    visibility: visible;
}


.cart-title{
    font-weight: 700;
    padding: 1rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.item-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 22rem;
    height: 5rem;
    /* border: 1px solid black; */
    margin: 1rem auto;
}

.empty-message{
    text-align: center;
    color: hsl(219, 9%, 45%);
    /* margin: 5rem auto; */
    font-weight: 700;
    position: absolute;
    top: 55%;
    right: 30%;
}

.cart-img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
}

.item-name{
    color: hsl(219, 9%, 45%);
    width: 13rem;
    /* border: 1px solid black; */
}

.delete{
    cursor: pointer;
}

.total-add-item{
    color: hsl(219, 9%, 45%);
}

.total {
    font-weight: 700;
    color: black;
    margin-left: 1rem;
}

#ss-previous,#ss-next{
    display: none;
}

.hamburger{
    display: none;
}

.lightbox-product-images{
    display: none;
  } 

  .ss-navbar{
    position: absolute;
    width: 17rem;
    height: 140vh;
    background-color: white;
    color: white;
    font-weight: 700;
    z-index: 9999;
    /* border: 1px solid black; */
    padding: 1.5rem;
    transform: translateX(-100rem);
    transition: transform 500ms ease-in-out;
  }

/* responsive design*/

@media (max-width: 1150px ){
    main{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90vw;
        height: auto;
    }

    .product-description{
        width : 30rem;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    h1{
        margin-top: 0.5rem;
    }

    .description-para{
        margin: 0.5rem;
    }

    .sell{
        margin: 1rem 0rem;
    }

    .select-items{
        margin: 1rem 0rem;
    }


  .lightbox-product-images{
    display: none;
  }  

  #ss-previous,#ss-next{
    display: block;
    position: absolute;  
    background-color: aliceblue;
    padding: 1.2rem 1.4rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
  }


  #ss-previous{
    top: 13rem;
    left: 1rem;
  }

  #ss-next{
    top: 13rem;
    right: 1rem;
  }

  .small-image-gallery{
    margin-top: 2rem;
  }
  
}

@media (max-width : 1050px){

    header{
        width: 90vw;
        display: flex;
        height: 8rem;
        justify-content: space-between;
        margin-bottom: 3rem;
        border-bottom: 1px solid hsl(220, 14%, 75%)
    }

    .header-leftside{
        display: flex;
        flex-direction: row;
        /* border: 1px solid black; */
        width: 37rem;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
    }

    .user-profile{
        width: 6rem;
    }

    .user-avatar{
        width: 3rem;
        margin-left: 1rem;
    }

    nav{
        margin-left: 0rem;
        display: flex;
        flex-direction: row;
    }

    
    nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0rem 0.5rem;
}

    h1{
        font-size: 2.6rem;
    }


    .add-items{
        width: 14rem;
    }

}

@media (max-width : 775px){

    .hamburger{
        display: block;
        margin-right: 0.5rem;
        margin-left: -1.5rem;
        cursor: pointer;
    }

    .header-leftside{
        display: flex;
        flex-direction: row;
        /* border: 1px solid black; */
        width: 15rem;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
    }

    nav{
        display: none;
    }

    .ss-navbar-show{
        position: absolute;
        width: 17rem;
        height: 140vh;
        background-color: white;
        color: white;
        font-weight: 700;
        z-index: 9999;
        /* border: 1px solid black; */
        padding: 1.5rem;
        transform: translateX(0rem);
    }

    ul{
        height: 22rem;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 1.2rem;
    }

    ul li{
        margin: 1rem 0rem;
    }

    ul li a{
        color: black;
        text-decoration: none;
    }

    .close-for-hamburger{
        width: 1.5rem;
        margin: 1rem 0rem;
        cursor: pointer;
    }
   
}

@media (max-width : 660px){

    main{   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-images{
        width: 90vw;
        height: 30rem;
    }


    .small-image-gallery{
        display: none;
    }

    .product-description{
        padding: 1rem;
    } 
}

@media (max-width : 500px){
    header{
        width: 98vw;
        display: flex;
        height: 6rem;
        justify-content: space-between;
        margin-bottom: 1rem;
        border: none; 
        padding: 0 0.5rem;
    }

    .header-leftside{
        width: 14rem;
    }

    main{
        margin: 0 1rem;
    }

    .product-images{
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .carousel{
        width: 95vw;
        margin: 0 0.5rem;
    }

    .product-description{
        padding: 1rem;
        width: 95vw;
    }

    .select-items{
        justify-content: center;
    }

    .add-items{
        width: 14rem;
        margin-left: 1rem;
    }

    .product-description{
        padding: 0rem 1.5rem;
    }
}

@media (max-width : 485px){

    header{
        margin-bottom: 0rem;
    }

    .product-images{
       width: 98vw;
        height: 25rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    .carousel{
       width: 98vw;
        border-radius: 0rem;
        height: 25rem;
    }

    #ss-previous{
        top: 11rem;
        left: 1rem;
      }
    
      #ss-next{
        top: 11rem;
        right: 1rem;
      }

      #ss-previous,#ss-next{
        display: block;
        position: absolute;  
        background-color: aliceblue;
        padding: 1rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 9;
      }
}